/* 상단 바에 검정 배경 추가하기 */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* 상단 바에 링크버튼 꾸미기 */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* 마우스를 갖다 놨을 때 색상을 변경하기 */
.topnav a:hover {
    background-color:  #ddd;
    color: black;
}

/* 활성화 된 링크에 색 추가 */
.topnav a.active {
        background-blend-mode: #04AA6D;
        color: white;
}

/*웹폰트*/
@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}